<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password?</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body>
    <div class="container">
        <div class="blue-side"></div>
        <div class="form-container">
            <h1>Recuperar Contraseña</h1>
            <form accept="/forget" method="post">
                <div class="input-box">
                    <input type="email" required name="correo">
                    <label>Correo</label>
                </div>
                <div class="error-message">
                    {{ error }} 
                </div>
                <button type="submit" class="action-btn">Comprobar correo</button>
                <a href="/login" class="action-btn back-btn">Back</a>
            </form>
        </div>
    </div>
</body>
</html>